tf-keras
llama-cpp-python==0.2.77
datetime
google-api-core==2.11.0  
google-api-python-client    
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud
google-pasta
googleapis-common-protos
flask